/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~video.js/dist/video-js.min.css';
@import '~filepond/dist/filepond.min.css';
@import '~react-simple-keyboard/build/css/index.css';

@font-face {
  font-family: 'Do Hyeon';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Do Hyeon Regular'), local('DoHyeon-Regular'),
    url(./assets/fonts/Do_Hyeon/DoHyeon-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Jua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Jua Regular'), local('Jua-Regular'),
    url(./assets/fonts/Jua/Jua-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('NanumGothicCoding'),
    url(./assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Regular.ttf)
      format('truetype');
}

@font-face {
  font-family: 'Nanum Gothic Coding';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('NanumGothicCoding'),
    url(./assets/fonts/Nanum_Gothic_Coding/NanumGothicCoding-Bold.ttf)
      format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(NanumSquare),
    url(./assets/fonts/NanumSquare/NanumSquareRegular.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquare';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(NanumSquare),
    url(./assets/fonts/NanumSquare/NanumSquareBold.ttf) format('truetype');
}

* {
  -webkit-user-select: none;
  font-family: 'NanumSquare', sans-serif;
  outline: none !important;
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #58595b;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-user-drag: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
}

.react-simple-keyboard {
  border-radius: 0;
}
